<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- <body> -->
  <body onload="loading()">
    <div class="select">
      <div class="state">
        <label for="state">state</label>
        <select name="state" id="state" onchange="cityrender(this.value)">
          <option value="select">select</option>
        </select>
      </div>
      <div class="city">
        <label for="city">city</label>
        <select name="city" id="city">
          <option value="select">select</option>
        </select>
      </div>
    </div>
    <script>
      function loading() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var state = document.getElementById("state");
            var r =JSON.parse(this.response);
            console.log(r);
             r.forEach((element) => {
              var option = document.createElement("option");
              option.setAttribute("value", `${element.id}`);
              option.innerHTML = `${element.name}`;
            //   console.log(option);
              state.appendChild(option);
            });
          }
        };
        xhttp.open("GET", `/state`, true);
        xhttp.send();
      }
      function cityrender(value) {
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var city = document.getElementById("city");
            let child = city.lastElementChild;
            while (child) {
              city.removeChild(child);
              child = city.lastElementChild;
            }
            console.log(this.response);

            JSON.parse(this.response).forEach((element) => {
              var option = document.createElement("option");
              option.setAttribute("value", `${element.id}`);
              option.innerHTML = `${element.city_name}`;
              console.log(option);
              city.appendChild(option);
            });
          }
        };
        xhttp.open("GET", `/city/${value}`, true);
        xhttp.send();
      }
    </script>
  </body>
</html>
