<html>
    <head>
        <title>assignment 1</title>
    </head>
    <body>
        <style>
             table,tr,td{
                border-style: dotted;
            }
           tr, td{
                width: 50px;
                height: 50px;
            }
        </style>
        <centre>Exercise 1</centre>
        <center>Suvarna Srayshi Sinha || 24DEV082</center>
        <input type="button" value="addrow" onclick="addrow()">
        <input type="button" value="deleterow" onclick="deleterow()">
        <input type="button" value="addcolumn" onclick="addcolumn()">
        <input type="button" value="deletecolumn" onclick="deletecolumn()">
        <br><br>
        <table id="table1">
            <tr id="row1">
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

        <script language="Javascript" type="text/Javascript">  
            function addrow()
            {
                var table= document.getElementById("table1");
                var cols = document.getElementById("row1").cells.length;
                var row = table.insertRow();
                for(i=0;i<cols;i++)
                {
                    row.insertCell();
                }
            }

            function addcolumn()
            {
                var mytable= document.getElementById("table1");
                for(i=0;i<mytable.rows.length;i++)
                {
                    var cel=mytable.rows[i].insertCell(mytable.rows[i].cells.length);
                    cel.innerHTML=" ";
                }
            }

            function deleterow()
            {
                var table= document.getElementById("table1");
                var row = document.getElementsByTagName("tr");
                if(row.length > 2)
                {
                    table.deleteRow(row.length-1);
                }
                else
                {
                    alert("cannot delete row when less than 2");
                }
            }

            function deletecolumn() {
                var table= document.getElementById("table1");
                var tr = document.querySelectorAll("tr");
                var td = document.querySelectorAll("td");
                var x = document.getElementById("row1").cells.length;
                var y = table.rows.length;
                for(i=0; i<y; i++)
                {
                    if(x<=2)
                    {
                        alert("cannot delete the column less than 2");
                        break;
                    }
                     tr[i].deleteCell(x-1);
                }
            
            }
            </script>
    </body>
</html>