<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Detail</title>
    <style>
      #data,
      #comment {
        padding: 10px;
        width: 600px;
        margin: auto;
        font-size: 15px;
      }
    </style>
  </head>

  <body>

    <center>Suvarna Srayshi Sinha || 24DEV082</center>
    <center>
      <div id="data"></div>
      <div id="comment"></div>
    </center>

    <script>

      const fetchuser = async () => {
        var id = window.location.href.split("/").pop();
        const url = `https://jsonplaceholder.typicode.com/posts/${id}`;
        let dataitem = "";
        await fetch(url, {
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            var printdata = document.getElementById("data");
            printdata.innerHTML = `
         <b>userid</b>: ${data.userId} <br>
         <b>id</b>: ${data.id} <br>
         <b>title</b>: ${data.title} <br>
         <b>body</b>: ${data.body} <br> 
         <input type="button" value="Comments" onclick="fetchcomment()">
         `;
          });
      };
      const fetchcomment = async () => {
        var id = window.location.href.split("/").pop();
        const url = `https://jsonplaceholder.typicode.com/posts/${id}/comments`;
        let dataitem = "";
        await fetch(url, {
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((comment) => {
            for (var i = 0; i < 5; i++) {
              var printdata = document.getElementById("comment");
              printdata.innerHTML += `
         <br><b>PostID</b>: ${comment[i].postId} <br>
         <b>id</b>: ${comment[i].id} <br>
         <b>Name</b>: ${comment[i].name} <br>
         <b>Email</b>: ${comment[i].email} <br>
         <b>body</b>: ${comment[i].body} <br> <br><br>
         `;
            }
          });
      };
      fetchuser();
    </script>
  </body>
</html>
