<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 40%;
            margin-left: auto;
            margin-right: auto;

        }

        p {
            font-size: 11px;
            color: rgb(234, 49, 49);
        }

        .table1 {
            border: 2px;
        }

        .button {

            padding: 6px 12px;
            margin: 5px;
            border: 1px solid #ccc;
            background-color: #676262;
            cursor: pointer;
        }

        .container {
            padding-left: 92%;
        }
    </style>
</head>

<body>
    <center>Suvarna Srayshi Sinha || 24DEV082</center>

    <h3>USER FORM</h3>
    <div class="table1">
        <form action="/detailform" method="post" name="form" onsubmit="return validate()">
            <fieldset>
                <legend> BASIC DETAILS</legend>
                <table style="width: 90%;">
                    <tr>
                        <td> <label for="fname">First name:</label>
                            <input type="text" id="fname" name="fname" >
                            <p id=fnamein></p>
                        <td> <label for="lname">Last name:</label>
                            <input type="text" id="lname" name="lname">
                            <p id=lnamein></p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label for="designation">Designation:</label>
                            <input type="text" id="designation" name="designation">
                            <p id=designationin></p>
                        </td>
                        <td><label for="Address1">Address1:</label>
                            <input type="text" id="address" name="address">
                            <p id=addressin></p>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="email">Email:</label>
                            <input type="text" name="email" id="email">
                            <p id=emailin></p>
                        </td>
                        <td><label for="Address2">Address2:</label>
                            <input type="text" id="address2" name="address2">
                            <p id=addressin2></p>
                        </td>
                    </tr>


                    <tr>
                        <td> <label for="phonenumber">Phone number:</label>
                            <input type="text" name="phone" id="phone">
                            <p id=phonein></p>
                        </td>

                        <td><label for="City">City:</label>
                            <input type="text" id="city" name="city">
                            <p id=cityin></p>
                        </td>
                    </tr>

                    <tr>

                        <td><label for="gender">Gender</label>
                            <input type="radio" name="gender" id="male" value="male">Male
                            <input type="radio" name="gender" id="female" value="female">Female<p id=genderin></p>
                        </td>
                        <td><label for="state">State</label>
                            <select id="state" name="state">
                                <option value="Gujarat" name="Gujarat">Gujarat</option>
                                <option value="Delhi" name="Delhi">Delhi</option>
                                <option value="maharastra">maharastra</option>
                                <option value="assam">assam</option>
                            </select><br>
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td> <label for="relationship">Relationship Status</label>
                            <select id="relationship" name="relationship">
                                <option value="single" name="single">single</option>
                                <option value="married" name="married">married</option>
                            </select>
                        </td>
                        <td><label for="zip code">Zip code:</label>
                            <input type="text" id="zipcode" name="zipcode">
                            <p id=zipcodein></p><br>
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="dob">Date Of Birth</label>
                            <input type="text" id="dob" name="dob">
                            <p id=dobin></p>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div class="educationdetail">
                <fieldset>
                    <table style="width:90%">   
                    <legend> EDUCATION</legend>

                    <div class="container">
                        <input type="button" class="button" id="plusbtn" value="+" onclick="eduplus()">
                        <input type="button" class="button" id="minusbtn" value="-" onclick="edusub()">
                    </div>
                    <div class="row2">
                        <div>
                            <tr>
                                <td>
                                    <select id="education" name="education[]">
                                        <option value="SSC" name="SSC">SSC</option>
                                        <option value="HSC" name="HSC">HSC</option>
                                        <option value="Bachelors" name="Bachelors">Bachelors</option>
                                        <option value="Masters" name="Masters">Masters</option>
                                        <option value="PHD" name="PHD">PHD</option>
    
                                    </select>
                                </td>
                                <td>
                                    <label for="board">Name of the Board</label>
                                    <input type="text" id="board" name="board[]" placeholder="enter board here">
                                    <span id=board1in></span></td>
                                  <td>  <label for="passingyear">Passing Year</label>
                                    <input type="text" id="passingyear" name="passingyear[]"
                                        placeholder="enter passingyear here">
                                        <span id=passingyearin></span></td>
                                    <td><label for="percentage">Percentage:</label>
                                    <input type="text" id="percentage" name="percentage[]" placeholder="enter percentage here">
                                    <span id=percentagein></span></td>
                                    <br>
                                    
                                </tr>
                        </div>
                    </div>
            </div>
        </table>
            </fieldset>
            <div class="experience tab hidden">
                <fieldset>
                    
                      <legend>WORK EXPERIENCE</legend>
                    <div class="container">
                        <input type="button" class="button" id="plusbtn" value="+" onclick="explus()">
                        <input type="button" class="button" id="minusbtn" value="-" onclick="exsub()">
                    </div>
                    <div class="row1">
                        <table style="width: 90%">
                        <div>
                            <tr>
                                <td><label for="Company Name">Company Name</label>
                                    <input type="text" id="CompanyName" name="CompanyName[]">
                                    <p id=CompanyNamein></p></td>
                                <td><label for="designation">Designation:</label>
                                    <input type="text" id="designation1" name="designation1[]">
                                    <p id=designation1in></p></td>
                                <td><label for="From">From</label>
                                    <input type="text" id="From1" name="From1[]">
                                    <p id=From1in></p></td>
                                <td><label for="To">To</label>
                                    <input type="text" id="To1" name="To1[]">
                                    <p id=To1in></p></td>
                            
                            <br> <br></tr>
                        </div>
                    </table>
                    </div>
               
                </fieldset>
            </div>

            <table style="width:100%">
                <tr>
                    <td>
                        <fieldset>
                            <legend>LANGUAGE KNOWN</legend>
                            <table style="width:90%">
                                <tr>
                                    <td>
                                        <input type="checkbox" id="hindi" name="hindi" value="hindi" onchange="validate()"><label
                                            for="hindi">HINDI</label>
                                    </td>
                                    <td>

                                        <input type="checkbox" id="hindi_r" name="hindi_r" onchange="validate()">
                                        <label for="hindi_r">READ</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="hindi_w" name="hindi_w" onchange="validate()">
                                        <label for="hindi_w">WRITE</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="hindi_s" name="hindi_s" onchange="validate()">
                                        <label for="hindi_s">SPEAK</label>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <input type="checkbox" id="english" name="english" value="english" onchange="validate()"><label
                                            for="english">ENGLISH</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="english_r" name="english_r" onchange="validate()">
                                        <label for="english_r">READ</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="english_w" name="english_w" onchange="validate()">
                                        <label for="english_w">WRITE</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="english_s" name="english_s" onchange="validate()">
                                        <label for="english_s">SPEAK</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" id="gujarati" name="gujarati" value="gujarati" onchange="validate()"><label
                                            for="gujarati">GUJARATI</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="gujarati_r" name="gujarati_r" onchange="validate()">
                                        <label for="gujarati_r">READ</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="gujarati_w" name="gujarati_w" onchange="validate()">
                                        <label for="gujarati_w">WRITE</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="gujarati_s" name="gujarati_s" onchange="validate()">
                                        <label for="gujarati_s">SPEAK</label>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>

                    <td>
                        <fieldset>
                            <legend>TECHNOLOGY YOU KNOW</legend>
                            <table style="width:90%">
                                <tr>
                                    <td>
                                        <input type="checkbox" id="php" name="php" value="php"
                                            onchange="validate()"><label for="php">PHP</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="tphp" id="begineer" class="phpb" value="begineer"
                                            onchange="validate()"><label for="mediator">BEGINEER</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tphp" id="mediator" class="phpm" value="mediator"
                                            onchange="validate()"><label for="mediator">MEDIATOR</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tphp" id="expert" class="phpe" value="expert"
                                            onchange="validate()"><label for="expert">EXPERT</label>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" id="oracle" name="oracle" value="oracle"><label
                                            for="oracle" onchange="validate()">ORACLE</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="toracle" id="begineer" value="begineer"><label
                                            for="mediator" onchange="validate()">BEGINEER</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="toracle" id="mediator" value="mediator"><label
                                            for="mediator" onchange="validate()">MEDIATOR</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="toracle" id="expert" value="expert"><label
                                            for="expert" onchange="validate()">EXPERT</label>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" id="mysql" name="mysql" value="mysql"><label
                                            for="mysql" onchange="validate()">MYSQL</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="tmysql" id="begineer" value="begineer"><label
                                            for="mediator" onchange="validate()">BEGINEER</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tmysql" id="mediator" value="mediator"><label
                                            for="mediator" onchange="validate()">MEDIATOR</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tmysql" id="expert" value="expert"><label
                                            for="expert" onchange="validate()">EXPERT</label>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="laravel" name="laravel" value="laravel"><label
                                            for="laravel" onchange="validate()">LARAVEL</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="tlaravel" id="begineer" value="begineer"><label
                                            for="mediator" onchange="validate()">BEGINEER</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tlaravel" id="mediator" value="mediator"><label
                                            for="mediator" onchange="validate()">MEDIATOR</label>

                                    </td>
                                    <td>
                                        <input type="radio" name="tlaravel" id="expert" value="expert"><label
                                            for="expert" onchange="validate()">EXPERT</label>

                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>
            <div class="referance">
                <fieldset>
                    <legend>REFRENCE CONTACT</legend>
                    <div class="container">
                        <tr>
                        <input type="button" class="button" id="plusbtn" value="+" onclick="plus()">
                        <input type="button" class="button" id="minusbtn" value="-" onclick="sub()">
                    </div>
                      <div class="row">
                        <div>
                            
                                <td><label for="Name">Name</label>
                                    <input type="text" id="nameref" name="nameref[]"> <span id=namerefin></span></td>
                                <td><label for="Contact number">Contact number:</label>
                                    <input type="text" id="Contactnumber" name="Contactnumber[]"><span id=Contactnumberin></span></td>
                                <td><label for="Relation">Relation</label>
                                    <input type="text" id="Relation" name="Relation[]">  <span id=Relationin></span><br></td>
                            </tr>
                            

                        </div>
                    </div>

            </div>
            </fieldset>
            <fieldset style=" margin:0;">
                <legend>PREFERANCES</legend>
                <table style="width:90%">
                    <tr>
                        <td>
                            <label for="location">Preferd location</label>
                            <select id="location" name="location">
                                <option value="Gujarat" name="Gujarat">Gujarat</option>
                                <option value="Delhi" name="Delhi">Delhi</option>
                            </select>
                        </td>
                        <td><label for="notice">Notice Period</label>
                            <input type="text" id="notice" name="notice">
                            <p id=noticein></p>
                        </td>
                        <td>
                            <label for="department">Department</label>
                            <select id="department" name="department">
                                <option value="Development" name="Development">Development</option>
                                <option value="Design marketing" name="Design marketing">Design marketing</option>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="expactedCTC">Expacted CTC</label>
                            <input type="text" id="expactedCTC" name="expactedCTC">
                            <p id=expactedCTCin></p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="currentCTC">Current CTC</label>
                            <input type="text" id="currentCTC" name="currentCTC">
                            <p id=currentCTCin></p>
                        </td>

                    </tr>

                </table>
            </fieldset>

            <input type="submit" value="Save">
        </form>
    </div>
    <script>

        function validate() {
            let fname = document.querySelector("#fname").value;
            console.log(fname);
            var name = document.getElementById("fnamein");
            if (fname == "") {
                fnamein.innerHTML = "<p>please enter the details here</p>";
                return false;
            }
            else if (!/^[A-Za-z]+$/.test(fname)) {
                fnamein.innerHTML = "<p>please enter correct name</p>";
                return false;
            }


            let lname = document.querySelector("#lname").value;
            console.log(lname);
            var name = document.getElementById("lnamein");
            if (lname == "") {
                lnamein.innerHTML = "<p>please enter the last name here</p>";
                return false;
            }
            else if (!/^[A-Za-z]+$/.test(lname)) {
                lnamein.innerHTML = "<p>please enter correct last name</p>";
                return false;
            }
            let designation = document.querySelector("#designation").value;
            console.log(designation);
            var name = document.getElementById("designationin");
            if (designation == "") {
                designationin.innerHTML = "<p>please enter the details here</p>";
                return false;
            }
            else if (!/^[A-Za-z]+$/.test(designation)) {
                designation.innerHTML = "<p>please enter correct designation</p>";
                return false;
            }

            let address = document.querySelector("#address").value;
            console.log(address);
            var name = document.getElementById("addressin");
            if (address == "") {
                addressin.innerHTML = "<p>please enter address here</p>";
                return false;
            }
            let email = document.querySelector("#email").value;
            console.log(email);
            var name = document.getElementById("emailin");
            if (email == "") {
                emailin.innerHTML = "<p>please enter the email address here</p>";
                return false;
            }
            else if (!/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                .test(email)) {
                emailin.innerHTML = "<p>please enter correct email address</p>";
                return false;
            }

            let address2 = document.querySelector("#address2").value;
            console.log(address2);
            var name = document.getElementById("addressin2");
            if (address2 == "") {
                addressin2.innerHTML = "<p>please enter address here</p>";
                return false;
            }

            let phone = document.querySelector("#phone").value;
            console.log(phone);
            var name = document.getElementById("phonein");
            if (phone == "") {
                phonein.innerHTML = "<p>please enter the phone number here</p>";
                return false;
            }
            else if (!/^\(?([0-9]{3})\)?([0-9]{3})?([0-9]{4})$/.test(phone)) {
                phonein.innerHTML = "<p>please enter correct phone number</p>";
                return false;
            }


            let city = document.querySelector("#city").value;
            console.log(city);
            var name = document.getElementById("cityin");
            if (city == "") {
                cityin.innerHTML = "<p>please enter city here</p>";
                return false;
            }

            var genderM = form.male;
            var genderF = form.female;
            var name = document.getElementById("genderin");
            if (genderM.checked == false && genderF.checked == false) {
                genderin.innerHTML = "<p>You must select male or female</p>";
                return false;
            }
            
            
           
            let zipcode = document.querySelector("#zipcode").value;
            console.log(zipcode);
            var name = document.getElementById("zipcodein");
            if (zipcode == "") {
                zipcodein.innerHTML = "<p>please enter the phone number here</p>";
                return false;
            }
            else if (!/^\d{6}$/.test(zipcode)) {
                zipcodein.innerHTML = "<p>please enter correct phone number</p>";
                return false;
            }



            let board = document.querySelector("#board").value;
            console.log(board);
            var name = document.getElementById("board1in");
            if (board == "") {
                board1in.innerHTML = "<p>please enter board here</p>";
                return false;
            }
            let passingyear = document.querySelector("#passingyear").value;
            console.log(passingyear);
            var name = document.getElementById("passingyearin");
            if (passingyear == "") {
                passingyearin.innerHTML = "<p>please enter passingyear here</p>";
                return false;
            }
            let percentage = document.querySelector("#percentage").value;
            console.log(percentage);
            var name = document.getElementById("percentagein");
            if (percentage == "") {
                percentagein.innerHTML = "<p>please enter percentage here</p>";
                return false;
            }
            let CompanyName = document.querySelector("#CompanyName").value;
            console.log(CompanyName);
            var name = document.getElementById("CompanyNamein");
            if (CompanyName == "") {
                CompanyNamein.innerHTML = "<p>please enter CompanyName here</p>";
                return false;
            }
            let designation1 = document.querySelector("#designation1").value;
            console.log(designation1);
            var name = document.getElementById("designation1in");
            if (designation1 == "") {
                designation1in.innerHTML = "<p>please enter designation1 here</p>";
                return false;
            } 
            let From1 = document.querySelector("#From1").value;
            console.log(From1);
            var name = document.getElementById("From1in");
            if (From1 == "") {
                From1in.innerHTML = "<p>please enter From here</p>";
                return false;
            }
            let To1 = document.querySelector("#To1").value;
            console.log(To1);
            var name = document.getElementById("To1in");
            if (To1 == "") {
                To1in.innerHTML = "<p>please enter To here</p>";
                return false;
            }

            var hindicheck = document.getElementById("hindi");
            console.log(hindicheck)
            var hindireadcheck = document.getElementById("hindi_r");
            console.log(hindireadcheck)
            var hindiwritecheck = document.getElementById("hindi_w");
            var hindispeakcheck = document.getElementById("hindi_s");
            if(hindicheck.checked)
            {
                hindireadcheck.disabled=false;
                hindiwritecheck.disabled=false;
                hindispeakcheck.disabled=false;
            }else{
                hindireadcheck.disabled=true;
                hindiwritecheck.disabled=true;
                hindispeakcheck.disabled=true;

                hindireadcheck.checked=false;
                hindiwritecheck.checked=false;
                hindispeakcheck.checked=false;
            }


           var englishcheck = document.getElementById("english");
            var englishreadcheck = document.getElementById("english_r");
            var englishwritecheck = document.getElementById("english_w");
            var englishspeakcheck = document.getElementById("english_s");
            if(englishcheck.checked)
            {
                englishreadcheck.disabled=false;
                englishwritecheck.disabled=false;
                englishspeakcheck.disabled=false;
            }else{
                englishreadcheck.disabled=true;
                englishwritecheck.disabled=true;
                englishspeakcheck.disabled=true;
            }

            var gujarati = document.getElementById("gujarati");
            var gujaratireadcheck = document.getElementById("gujarati_r");
            var gujaratiwritecheck = document.getElementById("gujarati_w");
            var gujaratispeakcheck = document.getElementById("gujarati_s");
            if(gujarati.checked)
            {
                gujaratireadcheck.disabled=false;
                gujaratiwritecheck.disabled=false;
                gujaratispeakcheck.disabled=false;
            }else{
                gujaratireadcheck.disabled=true;
                gujaratiwritecheck.disabled=true;
                gujaratispeakcheck.disabled=true;
            }

            var phpcheck = document.querySelector('input[name="php"]');
            var begincheck = document.querySelector('input[name="tphp"][value="begineer"]');
            var medcheck = document.querySelector('input[name="tphp"][value="mediator"]');
            var expertcheck = document.querySelector('input[name="tphp"][value="expert"]');
            
            if (phpcheck.checked) {
                begincheck.disabled = false;
                medcheck.disabled = false;
                expertcheck.disabled = false;
            } else {
                begincheck.checked = false;
                medcheck.checked = false;
                expertcheck.checked = false;
                
                begincheck.disabled = true;
                medcheck.disabled = true;
                expertcheck.disabled = true;
            }
            var phpcheck = document.querySelector('input[name="php"]').addEventListener("change", validate);


            var oraclecheck = document.querySelector('input[name="oracle"]');
            var beginchecko = document.querySelector('input[name="toracle"][value="begineer"]');
            var medchecko = document.querySelector('input[name="toracle"][value="mediator"]');
            var expertchecko = document.querySelector('input[name="toracle"][value="expert"]');
            
            if (oraclecheck.checked) {
                beginchecko.disabled = false;
                medchecko.disabled = false;
                expertchecko.disabled = false;
            } else {
                beginchecko.checked = false;
                medchecko.checked = false;
                expertchecko.checked = false;
                
                beginchecko.disabled = true;
                medchecko.disabled = true;
                expertchecko.disabled = true;
            }
            var oraclecheck = document.querySelector('input[name="oracle"]').addEventListener("change", validate);
            var mysqlcheck = document.querySelector('input[name="mysql"]');
            var begincheckm = document.querySelector('input[name="tmysql"][value="begineer"]');
            var medcheckm = document.querySelector('input[name="tmysql"][value="mediator"]');
            var expertcheckm = document.querySelector('input[name="tmysql"][value="expert"]');
            
            if (mysqlcheck.checked) {
                begincheckm.disabled = false;
                medcheckm.disabled = false;
                expertcheckm.disabled = false;
            } else {
                begincheckm.checked = false;
                medcheckm.checked = false;
                expertcheckm.checked = false;
                
                begincheckm.disabled = true;
                medcheckm.disabled = true;
                expertcheckm.disabled = true;
            }
            var mysqlcheck = document.querySelector('input[name="mysql"]').addEventListener("change", validate);
            


            var laravelcheck = document.querySelector('input[name="laravel"]');
            var begincheckl = document.querySelector('input[name="tlaravel"][value="begineer"]');
            var medcheckl = document.querySelector('input[name="tlaravel"][value="mediator"]');
            var expertcheckl = document.querySelector('input[name="tlaravel"][value="expert"]');
            
            if (laravelcheck.checked) {
                begincheckl.disabled = false;
                medcheckl.disabled = false;
                expertcheckl.disabled = false;
            } else {
                begincheckl.checked = false;
                medcheckl.checked = false;
                expertcheckl.checked = false;
                
                begincheckl.disabled = true;
                medcheckl.disabled = true;
                expertcheckl.disabled = true;
            }
            var laravelcheck = document.querySelector('input[name="laravel"]').addEventListener("change", validate);

            let Contactnumber = document.querySelector("#Contactnumber").value;
            console.log(Contactnumber);
            var name = document.getElementById("Contactnumberin");
            if (Contactnumber == "") {
                Contactnumberin.innerHTML = "<p>please enter Contactnumber here</p>";
                return false;
            }
            let Relation = document.querySelector("#Relation").value;
            console.log(Relation);
            var name = document.getElementById("Relationin");
            if (Relation == "") {
                Relationin.innerHTML = "<p>please enter Relation here</p>";
                return false;
            }
            let notice = document.querySelector("#notice").value;
            console.log(notice);
            var name = document.getElementById("noticein");
            if (notice == "") {
                noticein.innerHTML = "<p>please enter notice here</p>";
                return false;
            }
            let expactedCTC = document.querySelector("#expactedCTC").value;
            console.log(expactedCTC);
            var name = document.getElementById("expactedCTCin");
            if (expactedCTC == "") {
                expactedCTCin.innerHTML = "<p>please enter expactedCTC here</p>";
                return false;
            }
            let currentCTC = document.querySelector("#currentCTC").value;
            console.log(currentCTC);
            var name = document.getElementById("currentCTCin");
            if (currentCTC == "") {
                currentCTCin.innerHTML = "<p>please enter currentCTC here</p>";
                return false;
            }
        }


        function plus() {

            var row = document.getElementsByClassName("row")[0];
            div = document.createElement("div");
            div.setAttribute("class", "referance")

            div.innerHTML += `
            <div>
                            
                            <td><label for="Name">Name</label>
                                <input type="text" id="nameref" name="nameref[]"> <span id=namerefin></span></td>
                            <td><label for="Contact number">Contact number:</label>
                                <input type="text" id="Contactnumber" name="Contactnumber[]"><span id=Contactnumberin></span></td>
                            <td><label for="Relation">Relation</label>
                                <input type="text" id="Relation" name="Relation[]">  <span id=Relationin></span><br></td>
                        </tr>
                        

                    </div>
                                        `;

            row.appendChild(div);
        }
        function sub() {
            console.log("hello");

            {

                row = document.getElementsByClassName("row");
                row[0].removeChild(row[0].lastElementChild);

                console.log(row);
            }
        }

        educationdetail = 2
        function eduplus() {

            var row2 = document.getElementsByClassName("row2")[0];
            div = document.createElement("div");
            div.setAttribute("class", "educationdetail")

            div.innerHTML += `
            <div>
                            <tr>
                                <td>
                                    <select id="education" name="education[]">
                                        <option value="SSC" name="SSC">SSC</option>
                                        <option value="HSC" name="HSC">HSC</option>
                                        <option value="Bachelors" name="Bachelors">Bachelors</option>
                                        <option value="Masters" name="Masters">Masters</option>
                                        <option value="PHD" name="PHD">PHD</option>
    
                                    </select>
                                </td>
                                <td>
                                    <label for="board">Name of the Board</label>
                                    <input type="text" id="board" name="board[]" placeholder="enter board here">
                                    <span id=board1in></span></td>
                                  <td>  <label for="passingyear">Passing Year</label>
                                    <input type="text" id="passingyear" name="passingyear[]"
                                        placeholder="enter passingyear here">
                                        <span id=passingyearin></span></td>
                                    <td><label for="percentage">Percentage:</label>
                                    <input type="text" id="percentage" name="percentage[]" placeholder="enter percentage here">
                                    <span id=percentagein></span></td>
                                    <br>
                                    
                                </tr>
                        </div>
                                        `;
            educationdetail++;
            row2.appendChild(div);
        }
        function edusub() {
            console.log("hello");
            if (educationdetail > 2) {

                row2 = document.getElementsByClassName("row2");
                row2[0].removeChild(row2[0].lastElementChild);
                educationdetail--;
                console.log(row2);
            }
        }

        function explus() {

            var row1 = document.getElementsByClassName("row1")[0];
            div = document.createElement("div");
            div.setAttribute("class", "experience")

            div.innerHTML += `
            <table style="width:90%">
                           <div>
                <label for="Company Name">Company Name</label>
                <input type="text" id="CompanyName" name="CompanyName">
                <label for="designation">Designation:</label>
                <input type="text" id="designation1" name="designation1">
                <label for="From">From</label>
                <input type="text" id="From1" name="From1">
                <label for="To">To</label>
                <input type="text" id="To1" name="To1">
                <br> <br>
            </div>
                                        `;

            row1.appendChild(div);
        }
        function exsub() {
            console.log("hello");

            {

                row1 = document.getElementsByClassName("row1");
                row1[0].removeChild(row1[0].lastElementChild);

                console.log(row1);
            }
        }
    </script>
</body>

</html>