<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password set</title>
    <style>
        * {
            margin: auto;
        }

        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: black;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #d7fcd7;
            padding: 50px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form input {
            width: 100%;
            padding: 2px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form {
            margin-bottom: 10px;
            z-index: -1;
        }

        .button {
            padding: 9px 14px;
            background-color: #0a3626;
            ;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #repassin {
            margin-top: 8px;
            margin-left: 30px;
            color: #1f6a4f;
        }

        a:link {
            color: #0a4932;
            text-decoration: none;
        }

        a:visited {
            color: #0a4932;
            text-decoration: none;
        }
        p{
            color: #ffffff;
        }
    </style>
</head>

<body>
    <% if(min>22356 || result.activation!==activation) {%>
        <div style="text-align: center;
        background-color: #d7fcd7;
        height: 40px;
        width: 80%;">

         <b>   <p style="color: #0a4932;"> Invalid/Expire Access Link</p><p></p>
            <p style="color: #0a4932;"> Please Login Again</p>
            </b>
        </div>

        <% }else {%>
            <form action="/password" method="post" name="form" id="myform">

                <center style="color: #ffffff;">Suvarna Srayshi Sinha || 24DEV082</center>
                <div class="container">
                    <div class="form">
                        <input type="hidden" id="id" name="id" value="<%=result.id %>">
                        <input type="hidden" id="salt" name="salt" value="<%=result.salt %>">
                        <input type="hidden" id="activation" name="activation" value="<%=result.activation %>">
                        <center>

                            <h3>SET PASSWORD</h3>
                        </center>

                        <input type="text" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form">

                        <input type="text" id="repass" name="repass" placeholder="confirm password">
                    </div>

                    <input type="button" class="button" value="set password" onclick="createpassword()">
                    <div id="repassin"></div>
                </div>


            </form>
            <%}%>
                <script>
                    //         function matchPassword(){
                    //             var pw1 = document.getElementById("password");  
                    //   var pw2 = document.getElementById("repass");  
                    //   var name = document.getElementById("repassin");
                    //   if(pw1 != pw2)  
                    //   {   
                    //             var name = document.getElementById("repassin");
                    //                 repassin.innerHTML = "<p>incorect</p>";
                    //                 return false;
                    //             }
                    //         }

                    async function createpassword() {
                        let formdata = document.getElementById("myform");
                        let data = new FormData(formdata);
                        const param = new URLSearchParams(data);
                        const dataform = await new Response(param).text();
                        console.log(typeof (dataform));

                        let data2 = await fetch("http://localhost:3033/password", {
                            method: "POST",
                            headers: {
                                'Content-type': 'application/x-www-form-urlencoded'
                            },
                            body: dataform
                        })
                        document.querySelector("#repassin").innerHTML = `<p>Click here to <a href="/loginat"><b>LOGIN</b></a></p>`;
                        console.log(await data2.json());
                    }
                </script>
</body>

</html>