<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>
                
                <a href="/citystate">City-state</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="/dynamic_table">Dynamic Table</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/kukucube">Kuku cube</a>
            </td>
        </tr> 
        <tr>
            <td>
                <a href="/sortingalgo">sorting Algorithm</a>
            </td>
        </tr>
         <tr>
            <td>
                <a href="/tictactoe"> Tic-Tac-Toe</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/jsevent">Javascript Event</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/sortidname">Sort by id and name</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/attendance">Student Attendance</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/result">Student Result</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/dynamicsearch">Dynamic Search</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/columnsearch">Column Search</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/multisearch">Multi Search</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/delimetersearch">Delimeter Search</a>
            </td>
        </tr>
    </table>



</body>
</html>