<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <style>
        a:link {
            color: #1f6a4f;
            text-decoration: none;
            font-size: 12px;
        }

        a:visited {
            color: #1f6a4f;
            text-decoration: none;
            font-size: 12px;
        }

        table {
            /* width: 50%;
        border-collapse: collapse; */
            border: 1px solid black;
        }

        td {
            /* padding: 8px;
        text-align: left; */
            color: #11382a;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <center>Suvarna Srayshi Sinha || 24DEV082</center>
    <table>





        <tr>
            <td colspan="5">Javascript Task</td>
        </tr>
        <tr>
            <td>
                <a href="/dynamic_table">Dynamic Table</a>
            </td>
            <td>
                <a href="/kukucube">Kuku cube</a>
            </td>
            <td>
                <a href="/sortingalgo">sorting Algorithm</a>
            </td>
            <td>
                <a href="/tictactoe"> Tic-Tac-Toe</a>
            </td>
            <td>
                <a href="/jsevent">Javascript Event</a>
            </td>
        </tr>
    </table>
    <br><br>
    <table>
        <tr>
            <td colspan="2">API FETCH TASK</td>
        </tr>
        <tr>
            <td>

                <a href="/citystate">City-state</a>
            </td>
            <td>
                <a href="/apifetch">API FETCH THROUGH JSON</a>
            </td>
        </tr>
    </table>
    <br><br>
    <table>
        <tr>
            <td colspan="2">JOB FORM</td>
        </tr>
        <tr>
            <td>
                <a href="/getdetail">Form through crud</a>
            </td>
            <td>
                <a href="/getdetailajax">Form through Ajax</a>
            </td>
        </tr>
    </table>
    <br><br>
    <table>
        <tr>
            <td colspan="8">NODE TASK</td>
        </tr>
        <tr>
            <td>
                <a href="/sortidname">Sort by id and name</a>
            </td>
            <td>
                <a href="/attendance">Student Attendance</a>
            </td>
            <td>
                <a href="/result">Student Result</a>
            </td>
            <td>
                <a href="/dynamicsearch">Dynamic Search from the SQL</a>
            </td>
            <td>
                <a href="/columnsearch">Column Sort </a>
            </td>
            <td>
                <a href="/multisearch">Multi Search</a>
            </td>
            <td>
                <a href="/delimetersearch">Delimeter Search</a>
            </td>
        </tr>
    </table>


</body>

</html>